<div style="background-color:black;">
<img src="https://static.wixstatic.com/media/e99c3b_bf7763d953434005b731c2137dcad343~mv2.png/v1/fill/w_444,h_80,al_c,q_85,usm_0.66_1.00_0.01/TRADECRAFT-logo65-White.webp" width="300">
</div>

## Dictionaries
Dictionaries are a way to store information that is connected in some way. Dictionaries store information in key-value pairs, so that any one piece of information in a dictionary is connected to at least one other piece of information.

Dictionaries do not store their information in any particular order, so you may not get your information back in the same order you entered it.

The following code creates a dictionary called "team" and is populated by peoples names (keys) and which countries they are from (values).

In [1]:
team = {}   # Initiates the dictionary

team['Rama'] = 'India'
team['Boris'] = 'Russia'
team['Lin'] = 'China'
team['Azar'] = 'Iran'
team['Greg'] = 'UK'

team

{'Rama': 'India',
 'Boris': 'Russia',
 'Lin': 'China',
 'Azar': 'Iran',
 'Greg': 'UK'}

Add a dictionary entry for yourself, and check to see if it has been added.

In [2]:
team['Carl'] = 'Germany'  # Replace the dahses with the appropriate key/value pair
print(team)

{'Rama': 'India', 'Boris': 'Russia', 'Lin': 'China', 'Azar': 'Iran', 'Greg': 'UK', 'Carl': 'Germany'}

Access the dictionary and lookup Lin's country.

In [3]:
team['Lin']

'China'

Using the *.update()* method, change Greg's country to 'Australia'.
Print out the dictionary and see the change.

In [4]:
team.update({'Greg':'Australia'})  # Replace the dashes with the appropriate values
print(team)

{'Rama': 'India', 'Boris': 'Russia', 'Lin': 'China', 'Azar': 'Iran', 'Greg': 'Australia', 'Carl': 'Germany'}

Delete Boris from this dictionary using the **del** command

In [5]:
del team['Boris']  # Replace the dashes with the appropriate values

print(team)

{'Rama': 'India', 'Lin': 'China', 'Azar': 'Iran', 'Greg': 'Australia', 'Carl': 'Germany'}

What happens if you run the above del command again? Explain why in a comment below.

In [6]:
# We get a 'Key Error' because the dictionary tries to lookup Boris but cannot find such an entry (key)

-------------------
## Containers as dictionary values

Below is a dictionary with information about aircraft. In each case the aircraft type is the key, and each key has multiple values stored in the list (similar to what you might find in a database if you ran a search based on a key word), for example: 
* manufacturer 
* number of engines
* year of first flight
* current operational status

In [7]:
aircraft = {'B747':['Boeing',4, 1969, 'Operational'], 
            'Concorde':['Aerospatiale/BAC', 4, 1969,'Retired'],
            'DC10':['Douglas', 3, 1970,'Cargo'],
            'L1011':['Lockheed', 3, 1970,'Limited'],
            'B787':['Boeing', 2, 2009,'Operational'],
            'A380':['Airbus', 4, 2005,'Operational']}

Look up 'A380' in the dictionary

In [8]:
aircraft['A380']

['Airbus', 4, 2005, 'Operational']

Look up only the name of the manufacturer of the A380 (without showing the other values)

In [9]:
aircraft['A380'][0]  # Replace the dash with a value

'Airbus'

----------------
<img src="https://www.paulweiss.bz/wp-content/uploads/bonus.png" align=left width=200 height=150 style="margin:10px;"/><br>
<p align="left">Run the code below and examine the output</p>

In [10]:
for key, value in aircraft.items():
    print(key, value)

B747 ['Boeing', 4, 1969, 'Operational']
Concorde ['Aerospatiale/BAC', 4, 1969, 'Retired']
DC10 ['Douglas', 3, 1970, 'Cargo']
L1011 ['Lockheed', 3, 1970, 'Limited']
B787 ['Boeing', 2, 2009, 'Operational']
A380 ['Airbus', 4, 2005, 'Operational']

-------------
<p>How can we modify this code to only print the aircraft type (key) and the year of first flight (value)?</p>

In [11]:
for key, value in aircraft.items():
    print(key, value[2])  # The values in this dictionary are all lists. The third element of each list (index number 2) is the year of first flight.

B747 1969
Concorde 1969
DC10 1970
L1011 1970
B787 2009
A380 2005

----------------
<p>How can we further modify this code to print statements for each aircraft type as follows:

    The B747 first flew in 1969.

For *extra* fun, try printing using  the string **.format()** method.  
<div class="alert alert-block alert-info">Tip: You can use Google to help you find the answer.</div>

In [12]:
for key, value in aircraft.items():
    print("The {} first flew in {}".format(key, value[2]))

The B747 first flew in 1969
The Concorde first flew in 1969
The DC10 first flew in 1970
The L1011 first flew in 1970
The B787 first flew in 2009
The A380 first flew in 2005

In [13]:
# .format() can take multiple arguments which it then plugs into the preceding string in order of appearance.